*{
  padding: 0px;
  margin: 0px;
}
body{
  padding: 0px;
  margin: 0px;
  overflow: none;
  background-image: url("https://cdn.pixabay.com/photo/2015/01/09/11/22/fitness-594143_1280.jpg");
  background-repeat: repeat;
  /* height: 5000px; */
}
.material-symbols-outlined {
  /* filter: invert(100); */
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}
.navbar{
  display: flex;
  justify-content: center;
  padding: 22px 0px;
  gap: 8%;
  background-image: linear-gradient(to right, black, transparent, black);
}
.logo{
  margin: auto 0px;
}
.section_links{
  list-style: none;
  margin: auto 0px;
}
.section_links li{
  display: inline;
}
.section_links li a{
  text-decoration: none;
  color: white;
  font-family: 'Exo 2', 'Outfit', cursive;
  margin: auto 30px auto 0px;
}
.action_btn{
  margin: auto 0px;
  padding: 5px 8px;
  font-family: 'Outfit', cursive, 'Times New Roman', Times, serif;
  text-decoration: none;
  color: rgb(85,26,139);
  font-weight: bold;
  border: rgb(85,26,139) solid 2px;
  border-radius: 8px;
}
.menu{
  /* display: none; */
  color: 	rgb(233, 220, 201);
}

#section_1, #section_2, #section_3, #section_4, #section_5{
  height: 500px;
}

#section_1{
  background-image: url("https://youtu.be/UG3RghzKp_Y");
}

.bg-video{
  position: absolute;
  margin: 0px 0px 0px 0px;
  z-index: -1;
  filter: blur(8px);
}
@media (min-aspect-ratio: 16/9) {
  .bg-video{
    width: auto;
    height: 100%;
  }
}
